.header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 40px 20px 10px 30px;
  color: #000;
}

.header-ttl {
  font-size: 30px;
  width: 80px;
}

.header-nav-list {
  display: flex;
  font-weight: bold;
}

.header-nav-item {
  color: #000;
}

@media screen and (max-width: 780px) {
  .header-nav {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .header-nav {
    display: none;
  }
}

.header-nav-item:not(:last-child) {
  margin-right: 30px;
}

.menu {
  display: inline-block;
  width: 36px;
  height: 32px;
  cursor: pointer;
  position: relative;
  left: 50px;
  top: 20px;
}

.hbg {
  display: none;
}

@media screen and (max-width: 780px) {
  .hbg {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .hbg {
    display: block;
  }
}

li {
  color: blue;
}
.nav {
  position: absolute;
  height: 1000px;
  width: 100%;
  left: -100%;
  background: #eee;
  transition: 0.7s;
  text-align: center;
}
.nav ul {
  padding-top: 80px;
}
.nav ul li {
  list-style-type: none;
  margin-top: 50px;
}
.menu {
  display: inline-block;
  width: 36px;
  height: 32px;
  cursor: pointer;
  position: relative;
  left: 20px;
  top: 20px;
}
.menu__line--top,
.menu__line--middle,
.menu__line--bottom {
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: #000;
  position: absolute;
  transition: 0.5s;
}
.menu__line--top {
  top: 0;
}
.menu__line--middle {
  top: 14px;
}
.menu__line--bottom {
  bottom: 0;
}
.menu.open span:nth-of-type(1) {
  top: 14px;
  transform: rotate(45deg);
}
.menu.open span:nth-of-type(2) {
  opacity: 0;
}
.menu.open span:nth-of-type(3) {
  top: 14px;
  transform: rotate(-45deg);
}
.in {
  transform: translateX(100%);
}




.photo-mv {
  width: 100%;
}
@media screen and (max-width: 780px) {
  .photo-mv {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .photo-mv {
    width: 100%;
  }
}




.titlle-text {
  color: aliceblue;
  font-size: 50px;
  font-weight: bold;
  padding-left: 20%;
  margin-top: -35%;
}



.english-titlle {
  color: aliceblue;
  font-size: 30px;
  font-weight: normal;
}





.thought-text {
  background-color: black;
  margin-top: 25%;
  height: 40%;
  align-items: flex-end;
}

@media screen and (max-width: 780px) {
  .thought-text {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .thought-text {
    width: 100%;
  }
}

.thought {
  color: aliceblue;
  font-size: 40px;
  padding-left: 10%;
  padding-top: 10%;
}

.how-to-skill-text {
  color: aliceblue;
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
  text-align: justify;
  line-height: 40px;
}





.sarvice-text {
  font-size: 50px;
  font-weight: bolder;
  margin-top: 70px;
  margin-bottom: 80px;
  padding-left: 40%;
}

.parent {
  display: flex;
  flex-wrap: wrap;
}




.child {
  padding-bottom: 70px;
  padding-right: 50px;
  padding-left: 50px;
  width: 40%;
}




.text2 {
  line-height: 30px;
  font-weight: bold;
  font-size: 25px;
  
}

.text-child {
  line-height: 30px;
  font-size: 20px;
}

.plactice__btn {
  position: relative;
  background-color: rgb(218, 0, 0);
  width: 40%;
  height: 30px;
  justify-content: center;
  display: block;
  padding: 18px;
  text-align: center;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  margin: 100px auto;
}

.plactice__btn:hover {
  background: rgb(189, 48, 48);
  color: #fff;
}





.news {
  background-color: black;
  height: 500px;
  margin-top: 200px;
}

@media screen and (max-width: 780px) {
  .news {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .news {
    width: 100%;
  }
}

.news2 {
  width: 100%;

}

.news-text {
  color: #fff;
  font-size: 30px;
  padding-top: 60px;
  margin-left: 100px;
  font-weight: bold;
}

.plactice__btn2 {
  position: relative;
  background-color: rgb(218, 0, 0);
  width: 180px;
  height: 10px;
  display: block;
  padding: 20px;
  text-align: center;
  padding-top: 8px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  margin: 100px auto;
  margin-right: 100px;
  margin-top: -30px;
}


.plactice__btn2:hover {
  background: rgb(189, 48, 48);
  color: #fff;
}

.latest-news {
  width: 65%;
  display: block;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 30px;
  margin-bottom: 10px;
  margin-left: 100px;
  position: relative;
  top: -40px;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
}





.latest-news:hover {
  background: rgb(216, 216, 216);
  color: rgb(0, 0, 0);
}









.blog {
  font-size: 50px;
  font-weight: bolder;
  margin-top: 70px;
  margin-bottom: 80px;
  padding-left: 40%;
}



.blog-photo{
  display: flex;
  margin-right: 8%;
}



.blog-block{
  margin-left: 2%;
  position: relative;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

@media screen and (max-width: 768px) {
  .blog-block{
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .blog-block{
    width: 100%;
  }
}


.blog-block:hover {
  background: rgb(38, 60, 92);
  color: #000;
}

.blog-block1{
  display: flex;
  margin-top: 100px;
  flex-wrap:nowrap ;
  justify-content: space-between;
  padding-left: 10%;
}

@media screen and (max-width: 768px) {
  .blog-block1{
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 480px) {
  .blog-block1{
    width: 100%;
    flex-wrap: wrap;
  }
}




.blog-text {
  position: absolute;
  top: 100%;
}










.plactice__btn3 {
  position: relative;
  top: 100px;
  background-color: rgb(218, 0, 0);
  width: 40%px;
  height: 30px;
  justify-content: center;
  display: block;
  padding: 18px;
  text-align: center;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  margin: 100px auto;
}


.plactice__btn3:hover {
  background: rgb(189, 48, 48);
  color: #fff;
}







.imformation-block {
  display: flex;
  margin-top: 200px;
}

.imformation-block::before {
  content: "";
  display: block;
  padding-top: 40%;
}

.company-profile {
  height: 350px;
  width: 50%;
  background-color: red;
  color: #fff;
}

.company-profile:hover {
  background: rgb(194, 75, 75);
  color: #fff;
}


.company-text{
  font-size: 40px;
  font-weight: bold;
  padding-left: 35%;
  padding-top:17% ;
}


.imformation {
  height: 350px;
  width: 50%;
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.imformation:hover {
  background: rgb(122, 120, 120);
  color: #fff;
}

.imformation-text {
  font-size: 40px;
  font-weight:bold ;
  padding-left: 35%;
  padding-top:17% ;
}







.call {
  background-color: rgb(241, 241, 241);
  margin-top: 10%;
  width: 100%;
  height: 400px;
}

@media screen and (max-width: 768px) {
  .call {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .call {
    width: 100%;
  }
}

.call-text {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: bolder;
  padding-top: 80px;
  justify-content: center;
  width: 100%;
  height: auto;
}

.call-text2 {
  font-size: 20px;
  padding-top: 5%;
  padding-left: 30%;
}
.plactice__btn4 {
  position: relative;
  justify-content: center;
  background-color: rgb(218, 0, 0);
  width: 380px;
  height: 30px;
  justify-content: center;
  display: block;
  padding: 18px;
  text-align: center;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  margin: 50px auto;
}

.plactice__btn4:hover {
  background: rgb(189, 48, 48);
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}
.footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .footer {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    width: 100%;
  }
}
.footer-inner {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.footer-ttl {
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
}
.footer-nav-list {
  display: flex;
  font-weight: bold;
  width: 100%;
  justify-content: center;
  font-size: 14px;
  margin-bottom: 10px;
  margin-right: 200px;
  margin-top: 10px;
}

.footer-nav-item {
  margin-right: 20px;
  padding: 5px;
  color: #fff;
}

.footer-nav-item:not(:last-child) {
  border-right: 2px solid rgb(255, 255, 255);
}

.copyright {
  font-size: 12px;
  padding-left: 100px;
}
